---
title: Posts
layout: default
---

<style>
  body {
    background-color: transparent !important;
    background: url('/static/bg.png') no-repeat center center fixed;
    background-size: cover;
  }
  header {
    background-color: transparent !important;
  }
  .content {
    background-color: transparent !important;
  }
  .presentation-list {
    background-color: transparent;
  }
  .presentation-list .presentation {
    margin-bottom: 20px;
  }
  .presentation-list .presentation a {
    color: #ffffff;
    font-size: 1.1em;
  }
  .presentation-list .presentation a:hover {
    color: #ffffff;
  }
  .presentation-list .date {
    color: #ffffff;
  }
  .presentation-list small {
    color: #ffffff;
  }
</style>

<ul class="presentation-list list-unstyled">
{% for post in site.categories.post %}
  <li class="presentation">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{% if post.external %}{{ post.blog_link }}{% else %}{{ post.url }}{% endif %}">{% if post.external %}⇖ {% endif %}{{ post.title }}</a>
    {% if post.external %}<small>{{ post.blog }}</small>{% endif %}
  </li>
{% endfor %}
</ul>
