---
title: Posts
layout: default
---

<style>
  body {
    background-color: #000000;
  }
  .content {
    background-color: #000000;
  }
  .presentation-list {
    background-color: #000000;
  }
  .presentation-list .presentation {
    margin-bottom: 20px;
  }
  .presentation-list .presentation a {
    color: var(--link-color);
    font-size: 1.1em;
    font-weight: 600;
  }
  .presentation-list .presentation a:hover {
    color: var(--link-color-hover);
  }
  .presentation-list .date {
    color: #ffffff;
    font-weight: 500;
  }
  .presentation-list small {
    color: var(--link-color);
    font-weight: 500;
  }
</style>

<ul class="presentation-list list-unstyled">
{% for post in site.categories.post %}
  <li class="presentation">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{% if post.external %}{{ post.blog_link }}{% else %}{{ post.url }}{% endif %}">{% if post.external %}⇖ {% endif %}{{ post.title }}</a>
    {% if post.external %}<small>{{ post.blog }}</small>{% endif %}
  </li>
{% endfor %}
</ul>
