---
title: Posts
layout: default
---

<style>
  body {
    background-color: #111 !important;
    background: url('static/bg.png') no-repeat center center;
    background-size: cover;
  }
  header {
    background-color: transparent !important;
  }
  header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
  }
  .header-label {
    color: #fff !important;
    font-size: 0.9em;
    margin: 5px 0;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    opacity: 0.9;
    padding-left: 5px;
    text-transform: uppercase;
    display: block;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
  }
  .content {
    background-color: transparent;
  }
  .presentation-list {
    background-color: transparent;
  }
  .presentation-list .presentation {
    margin-bottom: 20px;
  }
  .presentation-list .presentation a {
    color: var(--link-color);
    font-size: 1.1em;
  }
  .presentation-list .presentation a:hover {
    color: var(--link-color-hover);
  }
  .presentation-list .date {
    color: #ffffff;
  }
  .presentation-list small {
    color: var(--link-color);
  }
  .list-inline {
    margin-top: 20px;
  }
  .list-inline li {
    margin-right: 20px;
  }
  .list-inline a {
    color: #fff;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
  }
  .list-inline a span {
    color: var(--link-color);
    margin-right: 5px;
  }
</style>

<ul class="presentation-list list-unstyled">
{% for post in site.categories.post %}
  <li class="presentation">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{% if post.external %}{{ post.blog_link }}{% else %}{{ post.url }}{% endif %}">{% if post.external %}⇖ {% endif %}{{ post.title }}</a>
    {% if post.external %}<small>{{ post.blog }}</small>{% endif %}
  </li>
{% endfor %}
</ul>
