---
title: Notes
layout: default
---

<style>
  body {
    background-color: #000000;
  }
  .content {
    background-color: #000000;
  }
  .presentation-list {
    background-color: #000000;
  }
  .presentation-list .presentation {
    margin-bottom: 20px;
  }
  .presentation-list .presentation a {
    color: var(--link-color);
    font-size: 1.1em;
    font-weight: 600;
  }
  .presentation-list .presentation a:hover {
    color: var(--link-color-hover);
  }
  .presentation-list .date {
    color: #ffffff;
    font-weight: 500;
  }
  .presentation-list small {
    color: var(--link-color);
    font-weight: 500;
  }
</style>

<ul class="presentation-list list-unstyled">
{% for note in site.notes %}
  <li class="presentation">
    <span class="date">{{ note.date | date: "%Y-%m-%d" }}</span>
    <a href="{% if note.external %}{{ note.note_link }}{% else %}{{ note.url }}{% endif %}" target="_blank">{% if note.external %}⇖ {% endif %}{{ note.title }}</a>
    {% if note.external %}<small>{{ note.source }}</small>{% endif %}
  </li>
{% endfor %}
</ul> 