<div class="profile-section"></div>
  <h1>👋 Hi, I'm<br>{{ site.site_name }}</h1>
  <div class="header-label">{{ site.site_tagline }}</div>
  <ul class="nav-links">
    <li><a href="/"><span>to</span>Home</a></li>
    <li><a href="{{ site.site_github }}"><span>fork</span>GitHub</a></li>
    <li><a href="{{ site.site_mastodon }}"><span>follow</span>Mastodon</a></li>
    <li><a href="{{ site.site_twitter }}"><span>follow</span>X</a></li>
    <li><a href="{{ site.site_nostr }}"><span>follow</span>Nostr</a></li>
  </ul>
</div>
