<header>
  <h1>{% if page.layout == 'default' %}<a href="/">{% endif %}Maxx Protocol{% if page.layout == 'default' %}</a>{% endif %}</h1>
  <div class="header-label">Code for Android.  Fight for Digital Rights & Privacy.  Resist Surveillance.</div>
  {% if page.layout == null %}
  <ul class="list-inline">
    <li><a href="/blog"><span>read</span>Blog</a></li>
    <li><a href="https://github.com/maxxprotocol"><span>fork</span>GitHub</a></li>
  </ul>
  {% endif %}
</header>

<style>
  header {
    background-color: transparent !important;
    padding: 30px 40px;
  }
  .header-label {
    color: #fff !important;
    font-size: 0.9em;
    margin: 5px 0;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    opacity: 0.9;
    padding-left: 5px;
    text-transform: uppercase;
    display: block;
    position: relative;
    z-index: 1;
    letter-spacing: 1px;
  }
</style> 